<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/cadastro.css">

    <title>CRIAR CONTA</title>
</head>

<body>
        <h1>CRIAR CONTA</h1>
        <img src="images/image.png" alt="logo">
        <form id="formulario" action="/criar-conta" method="post">
            <label for="nome">Nome Completo</label>
            <input type="text" name="nome" id="nome" placeholder="Nome Completo">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Email">

            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Senha">


            <button type="submit">CADASTRAR</button>
        </form>
</body>

</html>